.navlink-container{
    text-decoration: none;
    
    }
    
    .nav-link {
    
        color: black !important;
        font-weight: bold;
    }
    
 
    .link{
        text-decoration: none;
        font-size:20px;
        color:black;
        font-weight: bold;
        margin-left: 5px;
    }
    .active-link{
        text-decoration: none;
        font-size:20px;
        color:  #FA255E !important;
        font-weight: bold;
        margin-left: 5px;
       
    }


    .nav-container{
        position: fixed;
    }
    /* .is-active{
        color:  #FA255E !important;
    }  */